{% import "macros/head.html" as head -%}
{% import "macros/logo.html" as logo -%}
{% import "macros/header.html" as header -%}
{% import "macros/extended_header.html" as extended_header -%}
{% import "macros/lists.html" as lists -%}
{% import "macros/posts.html" as posts -%}
{% import "macros/social.html" as social -%}
{% import "macros/utils.html" as utils -%}
{% import "macros/menu.html" as menu -%}
{% import "macros/pagination.html" as pagination -%}
{% import "macros/footer.html" as footer -%}
{% import "macros/extended_footer.html" as extended_footer -%}
{% import "macros/comments.html" as comments -%}

<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        {%- block title -%}
            <title>{{ config.title }}</title>
        {%- endblock title -%}

        {%- block general_meta -%}
            {{ head::general_meta() }}
        {%- endblock general_meta -%}

        {%- block og_preview -%}
            {{ social::og_preview() }}
        {%- endblock og_preview -%}

        {%- block fonts -%}
            {{ head::fonts() }}
        {%- endblock fonts -%}

        {%- block css -%}
            {{ head::styling() }}
        {%- endblock css -%}

        {%- block favicon -%}
            {{ head::favicon() }}
        {%- endblock favicon -%}

        {%- block rss -%}
            {{ head::rss() }}
        {%- endblock rss -%}

        {%- block math -%}
        {%- endblock math -%}
    </head>
    <body>
        {#
        "container full" when width == True, regardless of center
        "container center" when only center == True
        "container" when both false.
        #}
        {%- if config.extra.full_width -%}
            {%- set container = "container full" -%}
        {%- elif config.extra.center -%}
            {%- set container = "container center" -%}
        {%- else -%}
            {%- set container = "container" -%}
        {%- endif -%}

        <div class="{{ container }}">
            {%- block header -%}
                {{ header::header() }}
            {%- endblock header -%}
            {%- block main -%}
            <nobr>
            <p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;おにぎりワッショイ！！<wbr><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;＼＼&nbsp; おにぎりワッショイ！！&nbsp;&nbsp;／／<wbr><br>
&nbsp;+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;＼＼&nbsp;おにぎりワッショイ！！／+<wbr><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+<wbr><br>
.&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;／■＼&nbsp;&nbsp;&nbsp;／■＼&nbsp;&nbsp;&nbsp;／■＼&nbsp;&nbsp;&nbsp;+<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（&nbsp;´∀｀∩（´∀｀∩）（&nbsp;´∀｀）<br>
&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;（(&nbsp;（つ&nbsp;&nbsp;&nbsp;ノ（つ&nbsp;&nbsp;丿（つ&nbsp;&nbsp;つ&nbsp;)）&nbsp;&nbsp;+<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ヽ&nbsp;&nbsp;（&nbsp;ﾉ&nbsp;（&nbsp;ヽノ&nbsp;&nbsp;&nbsp;）&nbsp;）&nbsp;）<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（＿）し'&nbsp;し（＿）（＿）＿）<br>
            </p>
        </nobr>
            <div class="welcome">
                
                <h1>シンプル、軽量なウェブサイト</h1>
            </div>
            <hr>
            <div class="near-archlinux">
                <b>
                    <p>Donabe8898 のウェブサイトにようこそ。</p>
                </b>
                
                <p>Keep It Simple を標榜する、軽量で柔軟性に優れた私のウェブサイトです。</p>
            </div>
            <div class = "2023">
                <h2>2023年の目標</h2>
                <ul>
                    <li><input type="checkbox" disabled="disabled">自動車免許取る</li>
                    <li><input type="checkbox" disabled="disabled" checked='checked'>基本情報技術者試験</li>
                    <li><input type="checkbox" disabled="disabled">買ったままのLEDマトリクスパネルで電子工作</li>
                    <li><input type="checkbox" disabled="disabled" checked='checked'>RustとGo書く</li>
                </ul>
            </div>
            <a href="programming/22-12-26-kakiosame/">
                縛りプレイ開始
            </a>
            <div class="prop">
                <h1>勝手に布教コーナー</h1>
            </div>
            <ul>
                <li>[アニメ] <a href="https://tsunlise-pr.com/">ツンデレ悪役令嬢リーゼロッテと実況の遠藤くんと解説の小林さん</a></li>
                <li>[アニメ] <a href="https://www.evangelion.co.jp/final.html">シン・エヴァンゲリオン劇場版</a></li>
                <li>[ゲーム] <a href="https://gundamevolution.jp/">GUNDAM EVOLUTION</a></li>
                <li>[鉄道] <a href="https://www.kintetsu.co.jp/senden/hinotori/">近畿日本鉄道 特急ひのとり</a></li>
                <li>[界隈] <a href="https://pmchp.pages.dev/">Post Mine Clan</a></li>
                <a href="/prop">もっと見る-></a>
            </ul>
            <div class="meme">
                <p><a href="https://www.mcdonalds.co.jp/" >アラー</a></p>
            </div>

            {%- endblock main -%}
            {#-
            I keep pagination out of list, unlike Terminal, because I don't
            like how the pagination buttons move with the width of the content
            div.
            -#}
            {%- block pagination -%}
                {{ pagination::paginate() }}
            {%- endblock pagination -%}
            {%- block footer -%}
                <footer class="footer">
                    <div class="footer__inner">
                        {%- block copyright -%}
                            {{ footer::copyright() }}
                        {%- endblock copyright -%}

                        {%- block script -%}
                            {{ footer::script() }}
                        {%- endblock script -%}
                    </div>
                    {{ extended_footer::extended_footer() }}
                </footer>
            {%- endblock footer -%}
        </div>
    </body>
</html>
