{% macro about() %}

 <div class="user-details">
  <h1> About ME</h1>
  <p> {{ config.extra.user_description }} </p>
</div>

  <div class="user">
    <div class="tech">
      <h2>Programming</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
			<i class="devicon-atom-original colored"></i>
      <p>大学の授業や競技プログラミングはC++、Bot開発はPythonを使っています。
				かつてはSwiftでApple Watchのアプリを開発したり、Unityでゲーム開発もしていました。</p>
    </div>
		<div class="tech">
      <h2>Travel</h2>
			<img alt="JR" src="{{ config.base_url ~ "/img/WJRicon.svg" }}" width="90%"/>
      <p>旅行と移動が好きです。関西圏を中心にウロウロしています。</p>
    </div>
		<div class="tech">
      <h2>Game</h2>
			<img alt="minecraft" src="{{ config.base_url ~ "/img/minecraft_icon.png" }}" width="70%"/>
      <p>ﾏｲｸﾗｻｲｺｰ！！！</p>
    </div>
    <div class="tech">
      <h2>Community</h2>
			<img alt="pmc" src="{{ config.base_url ~ "/img/Logo.jpg" }}" width="70%"/>
      <p>「PostMineClan」というコミュニティに所属しています。公式サイトは<a href="https://pmchp.pages.dev/">こちら</a></p>
    </div>

</div>

{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1> Activities </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/115_113.jpg" }}" />
  </div>
  <div class="contents-right">
    <h3> blog </h3>
    <p>乗車記だったり競プロのコンテストの感想だったりを書きますお寿司</p>
    <a class="project-link" href="#">見てみる</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ "/img/atcoderG.png" }}" />
  </div>
  <div class="contents">
    <h3> 競技プログラミング </h3>
    <p>個人でちまちまやっており、大学の課外活動の一環として活動していたりもしています。あまりにも弱すぎるけど。</p>
    <a class="project-link" href="https://atcoder.jp/users/Donabe8898">AtCoder</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" width = "350px" />
  </div>
  <div class="contents-right">
    <h3> DiscordBot開発 </h3>
    <p>とあるマイクラのコミュニティ鯖向けに開発を始めたのをきっかけに一時期ハマっていました。しばらく新規開発からは遠ざかっていましたが、また新たな構想が湧いてきたので絶賛製作中...</p>
    <a class="project-link" href="https://github.com/donabe8898">GitHub</a>
  </div>
</div>

{% endmacro projects %}
