{% macro about() %}
 <div class="user-details">
  <h1> About Me </h1>
  <p> {{ config.extra.user_description }} </p>
</div>
  <div class="user">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <div class="tech">
      <h2>Competitive programming</h2>
      <i class="devicon-cplusplus-plain-wordmark"></i>
      <i class="devicon-rust-plain colored"></i>
      <p>大半の問題はC++で解いています。一部でRustを使っていたりします。</p>
    </div>
    <div class="tech">
      <h2>Discord BOT</h2>
			<i class="devicon-python-plain colored"></i>
			<i class="devicon-nodejs-plain-wordmark colored"></i>
      <p>discord.pyとdiscord.jsがほんの少し触れます。</p>
    </div>
		<div class="tech">
      <h2>Tools</h2>
			<i class="devicon-atom-original-wordmark colored"></i>
			<i class="devicon-vscode-plain colored"></i>
      <p>Atom,VSCodeをメインエディタとしています。</p>
    </div>
    <div class="tech">
      <h2>others</h2>
			<i class="devicon-unity-original colored"></i>
			<i class="devicon-xcode-plain colored"></i>
      <p>Unityでゲーム作ったりApple Watchのアプリを開発したりしていました。</p>
    </div>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1> Activities and Contents </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/atcoderG.png" }}" />
  </div>
  <div class="contents-right">
    <h3> 競技プログラミング </h3>
    <p>大学の課外活動でやってます。</p>
    <a class="project-link" href="https://atcoder.jp/users/Donabe8898">AtCoder</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="blog" src="{{ config.base_url ~ "/img/IMG_0115.jpg" }}" width = "90%"/>
  </div>
  <div class="contents">
    <h3> BLOG </h3>
    <p>趣味のことや備忘録等を残す場所です。</p>
    <a class="project-link" href="https://blog-a4h.pages.dev/">見てみる</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/Logo.jpg" }}" width = "80%"/>
  </div>
  <div class="contents-right">
    <h3> Community </h3>
    <p>「PostMineClan」というコミュニティに参加しています。</p>
    <a class="project-link" href="https://pmchp.pages.dev/">Web site</a>
  </div>
</div>
{% endmacro projects %}
